fastapi
uvicorn[standard]
pandas
pyarrow
transformers<=4.36.2
datasets
sentencepiece
protobuf
torch==2.3.1
redis
fastapi-cache2[redis]
requests
tqdm
numpy
scipy
scikit-learn
gensim
accelerate
safetensors